<h1>Create User</h1>
<%= form_with(model: @user, url: register_path) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'View User', users_path %>
